Options -MultiViews
RewriteEngine On

# Serve arquivos e pastas reais normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tudo mais aponta para o index.html
RewriteRule ^ /index.html [L]
